{% extends "layout.html" %}
{% block title %}My Wishlist{% endblock %}
{% block content %}
<h1>My Wishlist</h1>
<div class="wishlist">
    {% for product in products %}
    <div class="product">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-primary">Add to Cart</a>
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('share_wishlist') }}" class="btn btn-secondary">Share Wishlist</a>
{% endblock %}
